
.side-nav {
    margin-top: 64px !important;
}

a:hover,a:focus{
  text-decoration: none;
}

.collapsible-body {
  padding: 0 !important;
}

nav .dropdown-content{
  min-width: 168px;
  margin-top: 64px;
  background-color: #1565C0;
}
nav .dropdown-content li>a, .dropdown-content li>span{
  color: #fff;
}
nav{
  background-color: #1565C0 !important;
}

nav ul a:hover {
  background-color: #fff !important;
  color: #1565C0 !important;
}

nav ul a:focus{
  color: #f5f8fa;
}

.collection a.collection-item:not(.active):hover {
    background-color: #1565C0 !important;
    color: #fff !important;
}

.collection a.collection-item {
    color: #000 !important;
}

.btn{
      background-color: #1565C0 !important;
}

.btn:hover, .btn-large:hover {
    background-color: #1e88e5 !important;
    color: #fff !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0px solid #180796 !important;
    box-shadow: 0 1px 0 0 #180796 !important;
}

strong {
    font-weight: bold !important;
    text-decoration: underline;
}

.profile-head{
  width: 100%;
  height: 200px;
  background: url('http://www.img.lirent.net/2014/10/Android-Lollipop-wallpapers-a.jpg') center;
  background-size: cover;
}
.profile-head > .title{
  color: white;
}
.profile-img>img{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#title_table tbody tr {
    height: 97px;
}

.select2-container {
  width: 100% !important;
}
